@{
    ViewData["Title"] = "الصفوفُ الدراسيّة";
}

<div class="row1">

    <a asp-action="index" asp-controller="Class" asp-route-id="1" id="link1" title="الصفُ الدراسيُّ الأوَّل" onclick="setStage(1, 'الصفُ الدراسيُّ الأوَّل')">الصفُ الدراسيُّ الأوَّل</a>

    <br />

    <a asp-action="index" asp-controller="Class" asp-route-id="2" id="link2" title="الصفُ الدراسيُّ الثانيُّ" onclick="setStage(2, 'الصفُ الدارسيُّ الثاني')">الصفُ الدارسيُّ الثاني</a>

    <br />

    <a asp-action="index" asp-controller="Class" asp-route-id="3" id="link3" title="الصفُ الدراسيُّ الثالث" onclick="setStage(3,'الصفُ الدراسيُّ الثالث')">الصفُ الدراسيُّ الثالث</a>

</div>

<!-- This is all CSS files for this page -->
<link rel="stylesheet" href="~/css/sumOfAllFiles.css" />
<link rel="stylesheet" href="~/css/styleStages.css" />

<!-- This is all JAVASCRIPT files for this page -->
<script src="~/js/custom-stages.js"></script>