html,
body {
    font-family: 'Cairo', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: relative;
}

.myH2 {
    width: 100%;
    height: 100px;
    display: inline-block;
    margin: auto;
    padding: 20px;
}

.rightDiv {
    width: 50%;
    /*border: 1px solid #000;*/
    float: left;
}

.leftDiv {
    width: 50%;
    /*border: 1px solid #000;*/
    float: left;
}

.clear {
    clear: both;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.right-h2 {
    text-align: right;
}

.left-1,
.left-2 {
    text-align: right;
    margin-top: 10px;
    margin-left: 80px;
}

.centerized {
    text-align: center;
    margin-top: 40px;
}

.modal-title,
.btn-primary,
.btn-danger {
    font-weight: bold;
}

.btn-primary,
.btn-danger {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.table-responsive {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FFF;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 1px;
    animation: moveToRight 3s;
}

.table-responsive th {
    font-size: 18px;
    letter-spacing: 3px;
}

.table-responsive td,
th {
    text-align: center;
}

.table-striped {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.table th,
.table td {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.th-edit {
    width: 1%;
}


/*===================================================================================================================================*/

@media (min-width: 500px) and (max-width: 575px) {
    .table-responsive th {
        font-size: 15px;
    }
    .table-responsive td {
        font-size: 12px;
    }
    .table-responsive {
        width: 100%;
        height: auto;
        top: 50px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .table-responsive th {
        font-size: 15px;
    }
    .table-responsive td {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .table-responsive th {
        font-size: 14px;
    }
    .table-responsive td {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .table-responsive th {
        font-size: 18px;
    }
    .table-responsive td {
        font-size: 15px;
    }
    .table-responsive {
        width: 90%;
        height: auto;
        top: 50px;
    }
}

@media (min-width: 1200px) {}