@keyframes expand-my-navbar {
    0% {
        height: 0px;
    }
    100% {
        height: 60px;
    }
}

/*=============================================== Start Navbar ===============================================*/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.9);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

nav .logo img {
    height: 29px;
    width: 29px;
    margin: 22px auto;
    display: block;
    text-align: center;
}

.fas {
    font-size: 27px;
    color: rgb(179, 179, 179);
}

.fas:hover {
    color: rgb(240, 240, 240);
}

.fa-sign-out-alt,
.fa-user-cog {
    position: fixed;
    top: 3%;
    font-size: 20px;
    color: rgb(65, 95, 160);
    cursor: pointer;
}

.fa-sign-out-alt {
    left: 2%;
}

.fa-user-cog {
    left: 7%;
    background-color: transparent;
    border: none;
}

.fa-sign-out-alt:hover,
.fa-user-cog:hover {
    color: rgb(116, 133, 170);
}

.fa-home,
.fa-university {
    font-size: 25px;
}

.navbar {
    position: fixed;
    width: 50%;
    top: 10.3%;
    left: 25%;
    background-color: rgba(36, 36, 36, 0.9);
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    animation: expand-my-navbar 0.3s;
}

.navbar .navbar-nav .nav-item {
    margin-right: 20px;
    margin-left: 20px;
}


/*=============================================== End Navbar ===============================================*/

.row2 {
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 7%;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 35px;
    animation: moveToLeft 2s;
}

.row2 a {
    width: 90px;
    height: 90px;
    float: left;
    color: black;
    display: block;
    padding: 7px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    background-color: rgb(65, 95, 160);
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 22px;
    font-family: 'Lalezar', cursive;
}

.row2 a:hover {
    transition: 2s;
    background-color: rgb(86, 129, 221);
}

.classes-op {
    width: 90%;
    height: 50px;
    position: fixed;
    bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    animation: moveToRight 2s;
}

.classes-op .add-new-class,
.classes-op .edit-class {
    width: 45%;
    height: 50px;
    color: black;
    padding: 10px 50px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(65, 95, 160);
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 22px;
    font-family: 'Lalezar', cursive;
    flex: 1;
}

.classes-op .add-new-class:hover,
.classes-op .edit-class:hover {
    transition: 2s;
    background-color: rgb(86, 129, 221);
}

#modalLabelOfNewPassword {
    margin-left: auto;
    margin-right: auto;
}

#newPassword,
#oldPassword {
    text-align: end;
}

/*============================================== Select box ========================================*/

/*===================================================================================================================================*/

@media (min-width: 500px) and (max-width: 575px) {
    nav .logo img {
        height: 20px;
        width: 20px;
    }
    .navbar {
        top: 9%;
    }
    .fa-sign-out-alt,
    .fa-user-cog {
        font-size: 15px;
        left: 4%;
    }
    .fa-sign-out-alt {
        margin-right: 5px;
    }
    .fa-user-cog {
        margin-left: 35px;
    }
    .fa-home,
    .fa-university {
        font-size: 18px;
    }
    .row2 {
        width: auto;
        height: auto;
        margin: 30% auto;
        padding: 35px;
    }
    .row2 a {
        width: 60px;
        height: 60px;
        padding: 7px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .classes-op {
        height: 70px;
        bottom: 2%;
    }
    .classes-op .add-new-class,
    .classes-op .edit-class {
        width: 45%;
        height: 45px;
        padding: 10px 30px;
        font-size: 17px;
        flex: 1;
    }
}

@media (min-width: 576px) {
    nav .logo img {
        height: 22px;
        width: 22px;
    }
    .navbar {
        top: 9.3%;
    }
    .fa-sign-out-alt,
    .fa-user-cog {
        font-size: 17px;
        left: 4%;
    }
    .fa-sign-out-alt {
        margin-right: 5px;
    }
    .fa-user-cog {
        margin-left: 35px;
    }
    .fa-home,
    .fa-university {
        font-size: 18px;
    }
    .row2 {
        width: auto;
        height: auto;
        margin: 22% auto;
        padding: 35px;
    }
    .row2 a {
        width: 65px;
        height: 65px;
        padding: 10px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .classes-op {
        height: 70px;
        bottom: 2%;
    }
    .classes-op .add-new-class,
    .classes-op .edit-class {
        width: 45%;
        height: 45px;
        padding: 10px 30px;
        font-size: 18px;
        flex: 1;
    }
}

@media (min-width: 768px) {
    nav .logo img {
        height: 26px;
        width: 26px;
    }
    .navbar {
        top: 70px;
    }
    .fa-sign-out-alt,
    .fa-user-cog {
        font-size: 17px;
    }
    .fa-home,
    .fa-university {
        font-size: 22px;
    }
    .row2 {
        width: auto;
        height: auto;
        margin: 17% auto;
    }
    .row2 a {
        width: 70px;
        height: 70px;
        padding: 10px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 20px;
        font-size: 19px;
    }
}

@media (min-width: 992px) {
    nav .logo img {
        height: 29px;
        width: 29px;
    }
    .navbar {
        top: 71px;
    }
    .fa-sign-out-alt,
    .fa-user-cog {
        font-size: 20px;
        left: 2%;
    }
    .fa-sign-out-alt {
        margin-right: 5px;
    }
    .fa-user-cog {
        margin-left: 35px;
    }
    .fa-home,
    .fa-university {
        font-size: 25px;
    }
    .row2 {
        width: auto;
        height: auto;
        margin: 15% auto;
        margin-left: 6%;
        margin-right: 6%;
        padding: 35px;
    }
    .row2 a {
        width: 75px;
        height: 75px;
        padding: 12px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 20px;
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .row2 {
        margin: 12% auto;
        margin-left: 7%;
        margin-right: 7%;
    }
}